/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* --- end public domain code --- */
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {display: inline-block;}
/* hide IE mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  src: local('Proxima Nova Light'), local('Proxima-Nova-Light'), url(../fonts/proximanova-light-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'), url(../fonts/proximanova-regular-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 500;
  src: local('Proxima Nova Semibold'), local('Proxima-Nova-Semibold'), url(../fonts/proximanova-semibold-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: local('Proxima Nova Bold'), local('Proxima-Nova-Bold'), url(../fonts/proximanova-bold-webfont.woff) format('woff');
}

body {
    background: #000;
    overflow-x: hidden;
    position: relative;
    font-family: 'Proxima Nova';
    color: white;
}
body.noscroll {
    overflow: hidden;
}
a {
    color: white;
    font-weight: 500;
}
strong {
    font-weight: bold;
}
header {
    background: #000;
    position: relative;
}
header .static {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 620px;
    background: url(/images/static.gif);
    z-index: 5;
    opacity: .15;
}
header .gutter {
    width: 1200px;
    height: 620px;
    position: relative;
    margin: 0px auto;
}
header #block {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 620px;
    background: url(/images/block.png);
    z-index: 3;
    opacity: .5;
}
header #glitches {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 620px;
    background: url(/images/glitches.png);
    z-index: 3;
    opacity: .5;
}
header #line {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 620px;
    background: url(/images/line.png);
    z-index: 3;
    opacity: .5;
}
header #dome2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 620px;
    background: url(/images/dome2.png);
    z-index: 3;
    opacity: .5;
}
header #distort {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 620px;
    background: url(/images/distort.png);
    z-index: 2;
    opacity: .2;
}
header #dome {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 620px;
    background: url(/images/dome.jpg);
    z-index: 1;
    opacity: .3;
}
header #canvas {
    width: 1200px;
    height: 620px;
    position: relative;
    margin: 0px auto;
    background: #000;
    overflow: hidden;
}
header #canvas > div {
    position: absolute;
    width: 1200px;
    height: 20px;
    background-image: url(/images/capitol.png);
}

#main {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 11;
    padding: 30px 15px;
    text-align: center;
    color: #ddd;
}
#leaderboard_link {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    visibility: hidden;
    opacity: .8;
}
#leaderboard_link:hover {
    opacity: 1;
}
h1 {
    color: white;
    text-align: center;
    font-size: 100px;
    line-height: 1.2em;
    font-family: 'Special Elite';
    text-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}
div.cta {
    margin: 100px auto 0px auto;
    width: 700px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .8);
    padding: 28px;

}
div.cta h2 { 
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 25px 0px;
    line-height: 1.2em;
}
div.cta p {
    text-align: center;
    font-size: 23px;
    line-height: 1.2em;   
    margin-bottom: 0px;
}
h3 {
    font-weight: bold;
    display: inline-block;
    font-size: 23px;
    text-align: center;
    margin: 25px 0px 25px 0px;
    line-height: 1.2em;
    padding-bottom: 4px;
    border-bottom: 4px double #555;
}
h4 {
    font-weight: bold;
    display: inline-block;
    font-size: 38px;
    text-align: center;
    margin: 60px 0px 25px 0px;
    line-height: 1.2em;
    font-family: 'Special Elite';
}
p {
    margin: 0px auto;
    max-width: 800px;
    box-sizing: border-box;
    padding: 0px 30px;
    font-size: 20px;
    line-height: 1.2em;   
    margin-bottom: 25px;
}
p.small {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    font-size: 16px;
    opacity: .8;
}
blockquote {
    padding: 15px;
    display: inline-block;
    background: #333;
    color: white;
    font-family: 'Courier New';
    font-size: 15px;
}


#fields form {
    margin: 0px auto;
    max-width: 800px;
}
#fields input {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 0px none transparent;
    padding: 10px 15px;
    font-size: 20px;
    margin-bottom: 1px;
    font-weight: 500;
    font-family: "Proxima Nova";
}
#fields textarea {
    margin-bottom: 10px;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    padding: 15px 15px 3px 15px;
    font-size: 16px;
    font-family: "Georgia";   
    color: #333;

}

#fields input.error {
    background: #ecc;
}
#fields button, #cta_thanks button {
    box-sizing: border-box;
    height: 50px;
    border: 0px none transparent;
    color: white;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0px 15px;
    background-color: #23d598;
    cursor: pointer;
    margin: 0px 5px;
}
#fields button:hover, #cta_thanks button:hover {
    background-color: #0D9C6F;
}
#fields a {
    font-weight: 500;
    color: white;
}
#fields p.disclosure {
    margin-top: 10px;
    font-size: 13px;
}

#photos {
    margin: 0px auto 25px auto;
    max-width: 1000px;
    text-align: center;
    line-height: 0px;
}

#photos > div {
    display: inline-block;
    width: 250px;
    height: 250px;
    background: gray;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity 0.4s ease-out;
            transition: opacity 0.4s ease-out;
}
#photos > div {
    -webkit-transition: opacity 0.4s ease-out, -webkit-filter 0.2s linear, filter 0.2s linear;
        transition: opacity 0.4s ease-out, filter 0.2s linear, -webkit-filter 0.2s linear;
    filter: saturate(0%);
    -webkit-filter: saturate(0%);
    -ms-filter: saturate(0%);
    -o-filter: saturate(0%);
}
#photos > div:hover {
    filter: saturate(100%);
    -webkit-filter: saturate(100%);
    -ms-filter: saturate(100%);
    -o-filter: saturate(100%);
}

#load_more {
    text-align: center;
    padding: 30px 0px 100px 0px;
}
#load_more a {
    color: #aaa;
    font-size: 20px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
#load_more a:hover {
    color: #ddd;
}


.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, .66);
    display: none;
    z-index: 9001;

    -webkit-transition: opacity 0.4s ease-out;
            transition: opacity 0.4s ease-out;
}
.overlay.invisible {
    pointer-events: none;
    opacity: 0;

    -webkit-transition: opacity 0.4s ease-out;
            transition: opacity 0.4s ease-out;
}
.overlay .gutter {
    height: 100%;
    text-align: center;
    vertical-align: middle;

    -webkit-transition: margin-top 0.4s ease-out;
            transition: margin-top 0.4s ease-out;
}
.overlay.invisible .gutter {
    margin-top: -100%;
}
.overlay .gutter .modal {
    display: inline-block;
    max-width: 100%;
    color: black;
    margin: 0px auto;
    position: relative;
    text-align: center;

    margin-top: 15px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, .3);
}

.modal.photo div.photo {
    display: block;
    position: relative;
    width: 320px;
    height: 320px;
    background-color: white;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}
.modal.photo .tweet {
    background: white;
    position: relative;
    width: 320px;
    padding: 12px 15px 12px 80px;
    min-height: 75px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    line-height: 21px;
    text-align: left;
}
.modal.photo .tweet.share {
    padding-left: 15px;
    text-align: center;
}
.modal.photo .tweet.share span {
    display: block;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15px;
}
.modal.photo .tweet:after {
    content: '';
    display: block;
    clear: both;
}
.modal.photo .tweet a {
    font-weight: bold;
    color: #4993cc;
}
.modal.photo .tweet a.avatar {
    position: absolute;
    left: 15px;
    top: 15px;
}
.modal.photo .tweet a.avatar img {
    width: 48px;
    height: 48px;
}
.modal.photo .tweet a.share {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    font-size: 20px;
    margin: 3px 10px 3px 10px;
    border-radius: 20px;
    font-weight: 500;
    position: relative;
    
}
.modal.photo .tweet a.share::before {
    width: 20px;
    height: 20px;
    display: block;
    background: transparent url("https://s3.amazonaws.com/fftf-cms/static/campaign/img/share.png") no-repeat scroll 0px 0px / 170px 20px;
    position: absolute;
    top: 10px;
    left: 20px;
    content: "";
}
.modal.photo .tweet a.share.join {
    background: #EE3B50;
}
.modal.photo .tweet a.share.join::before {
    background: url(../images/camera.png) 0px 3px no-repeat;
    left: 15px;
    background-size: 20px auto;
}
.modal.photo .tweet a.share.fb {
    background: #3b5a95;
}
.modal.photo .tweet a.share.tw {
    background: #51c9f0;
}
.modal.photo .tweet a.share.fb::before {
    background-position: -150px 0px;    
}
.modal.photo .tweet a.share.fb:hover {
    background-color: #2B4989;
}
.modal.photo .tweet a.share.tw::before {
    background-position: -100px 0px;
}
.modal.photo .tweet a.share.tw:hover {
    background-color: #41b9e0;
}
.modal a {
    color: #448;
}
.modal a.close {
    position: absolute;
    right: 7px;
    top: 6px;
    cursor:pointer;
    color: #fff;
    border-radius: 30px;
    background: black;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    width: 35px;
    height: 35px;
    text-decoration: none;
    opacity: .7;
    z-index: 9002; /* A LEVEL BEYOND over 9000 */
}
.modal a.close:hover {
    opacity: 1;
}
.modal a.close:before {
    line-height: 35px;
    font-family: "Arial";
    font-weight: normal;
    content: "×";
}
.modal a.close.lite {
    color: #e1e1e1;
    font-size: 40px;
    opacity: 1;
    background: #fff;
    font-weight: bold;
}
.modal a.close.lite:hover {
    color: #ccc;
}
.modal .explanation {
    background: #fff;
    padding: 55px 0px 0px 0px;
    font-size: 22.42px;
    line-height: 29px;
    max-width: 745px;
}
.modal .explanation img.example {
    
    width: 200px;
    height: auto;
}
.modal .explanation p {
    margin: 0px;
    padding: 0px 30px 35px 30px;
}
.modal .explanation strong {
    font-family: "Proxima Nova";
    font-size: 22px;
}
.modal .explanation strong.highlight {
    color: #ff4e52;
}
.modal .explanation .example {
    background: #ededed;
    padding: 20px 15px 25px 15px;
    font-size: 17px;
    color: #686868;
}
.modal .explanation .example .tweet {
    margin: 5px auto 20px auto;
    max-width: 575px;
    border-radius: 10px;
    background: #fff;
    padding: 25px 25px 0px 25px;
    font-size: 19px;
    color: #676767;
    text-align: left;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
}
.modal .explanation .example .tweet em {
    color: #66d6ff;
    font-weight: bold;
}
.modal .explanation .example .tweet span {
    text-decoration: underline;
}
.modal .explanation .example .tweet .byline {
    color: #cfcfd0;
    font-size: 10px;
    padding-bottom: 5px;
    margin: 0px 0px 0px 0px;
}
.modal .explanation .example .tweet img.thumbnail {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 5px;
    float: left;
    border-radius: 4px;
}
.modal .explanation .example button {
    border: 0px;
    background: #fe4b60;
    height: 58px;
    line-height: 56px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    width: 226px;
    cursor: pointer;
    margin: 3px 0px;
    font-family: "Proxima Nova";
}
.modal .explanation .example button:hover {
    background: #ee3b50;
}
.modal .explanation .example button.gray {
    background: #bbb;
}
.modal .explanation .example button.gray:hover {
    background: #aaa;
}
.modal .explanation .example input {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-bottom: 5px;
    padding: 10px 15px;
    font-size: 22px;
    font-family: "Proxima Nova";
}
.modal .explanation .example input.long {
    width: 50%;
    height: 57px;
}
.modal .explanation .example input.right {
    border-right: 1px solid #aaa;
}
.modal .explanation .example textarea {
    width: 100%;
    border: 1px solid #aaa;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 14px;
    height: 100px;
}
.modal .explanation .example input.error, .modal .explanation .example textarea.error {
    background: #fee;
}
.modal .explanation .example span.disclaimer {
    font-size: 13px;
    line-height: 1em;
}
@media screen and (max-width: 680px) {
    .modal .explanation .example input {
        width: 100%;
        border-right: 1px solid #aaa;
    }
    .modal .explanation .example input.long {
        width: 100%;
    }

}
@media screen and (max-width: 480px) {
    .modal .explanation {
        font-size: 18px;
        padding-top: 45px;
        line-height: 24px;
    }
    .modal .explanation p {
        padding: 0px 15px 25px 15px;
    }
    .modal .explanation .example .tweet {
        font-size: 15px;
        padding: 15px 15px 0px 15px;
    }
    .modal .explanation .example .tweet img.thumbnail {
        display: none;
    }
}
/*
@media screen and (min-height: 550px) {
    .overlay .gutter .modal {
        margin-top: 20px;
    }
    .modal.photo div.photo {
        width: 400px;
        height: 400px;
    }
    .modal.photo .tweet {
        width: 400px;
    }
}
*/
@media screen and (min-height: 650px) {
    .overlay .gutter .modal {
        margin-top: 25px;
    }
    .modal.photo div.photo {
        width: 500px;
        height: 500px;
    }
    .modal.photo .tweet {
        width: 500px;
    }
}
@media screen and (min-height: 800px) {
    .overlay .gutter .modal {
        margin-top: 50px;
    }
    .modal.photo div.photo {
        width: 640px;
        height: 640px;
    }
    .modal.photo .tweet {
        width: 640px;
    }
}
@media screen and (max-width: 600px) {
    .overlay .gutter .modal {
        margin-top: 0px;
    }
    .modal.photo div.photo {
        border-radius: 0px;
    }
}

@media screen and (max-width: 767px) {
    #photos {
        
    }

    #photos > div {
        width: 160px;
        height: 160px;
    }
    a.post {
        height: 40px;
        line-height: 40px;
        width: 100%;
        margin: 0px;
        left: 0px;
        padding: 0px;
        text-align: center;
        background-position: 10px 7px;
        background-size: auto 25px;
        position: fixed;
        bottom: 0px;
        top: auto;
        border-radius: 0px;
    }
    a.post > div {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    #fake_modal {
        position: static;
        left: 0px;
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
        box-sizing: border-box;
        padding: 0px 15px 35px 15px;
        background: transparent;
        color: #272424;
    }
    body.dark #fake_modal {
        color: white;
    }
    #fake_modal.fixed {
        top: 0px;
        margin-top: 0px;
        position: static;
    }
    #fake_modal h2 {
        font-size: 40px;
    }
    #fake_modal a.cant {
        margin-top: 25px;
        position: static;
    }
    #fake_modal a.cant span {
        display: none;
    }
    a.post.fixed {
        top: auto;
        bottom: 0px;
    }
}

a.social {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    padding: 0px 15px 0px 40px;
    height: 30px;
    line-height: 30px;
    position: relative;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: verdana, helvetica;
    font-weight: bold;
}

a.social::before {
    width: 20px;
    height: 20px;
    display: block;
    background: transparent url("https://s3.amazonaws.com/fftf-cms/static/campaign/img/share.png") no-repeat scroll 0px 0px / 170px 20px;
    position: absolute;
    top: 4px;
    left: 14px;
    content: "";
}
a.social.facebook {
    background: #3b5a95;
}
a.social.twitter {
    background: #51c9f0;
}
.social.facebook::before {
    background-position: -150px 0px;
}
.social.twitter::before {
    background-position: -100px 0px;
}

div.social-buttons {
    height: 115px;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: calc((100% - 115px) / 2);
    width: 100px;
    z-index: 9001;
}

@media screen and (max-width: 1100px) {
    div.social-buttons {
        width: 33px;
    }
}
@media screen and (max-width:850px) {
    div.social-buttons {
        display: none;
    }
}

div.social-buttons a {
    background-repeat: no-repeat;
    display: block;
    height: 33px;
    font-family: Verdana, Helvetica, sans-serif;
    color: white;
    line-height: 33px;
    margin: 0 0 8px;
    padding: 0 0 0 37px;
    text-decoration: none;
    width: 100%;
    font-weight: bold;
}

div.social-buttons a.facebook {
    background-color: #39579a;
    background-image: url(../images/social/icon-fb.gif);
}

div.social-buttons a.twitter {
    background-color: #02aced;
    background-image: url(../images/social/icon-twitter.gif);
}

div.social-buttons a.email {
    background-color: #14ac2b;
    background-image: url(../images/social/icon-email.gif);
}

.bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 9001;
    border-top: 2px solid #444;
}
.bottom img.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 175px;
    height: auto;
    opacity: .8;
}
.bottom img.logo:hover {
    opacity: 1;
}
.bottom a.call {
    display: block;
    background: #222;
    text-align: center;
    height: 64px;
    line-height: 64px;
    font-size: 27.8px;
    text-decoration: none;
    color: #c7c7c7;
    text-transform: uppercase;
    box-shadow: 0px 0px 20px rgba(0,0,0, .5);
}
.bottom a.call em {
    color: #33e5a8;
}
.bottom a.call:hover em {
    text-decoration: underline;
}
@media screen and (max-width: 1100px) {
    .bottom img.logo {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .bottom a.call {
        padding: 10px 0px;
        height: auto;
        line-height: 25px;
        font-size: 20px;
    }
    .bottom img {
        display: none;
    }
}

@-webkit-keyframes bladeFade {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes bladeFade {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.spinner_container {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0px auto;
}
.spinner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.spinner .blade {
    position: absolute;
    left: 0%;
    top: 50%;
    margin-top: -4%;
    height: 8%; 
    width: 100%;
}

.spinner .blade > div {
    width: 25%;
    margin: 0px 0px 0px auto;
    height: 100%;
    background: #fff;
    border-radius: 1000px;
    opacity: 1;

    -webkit-animation-duration: 2s; 
    animation-duration: 2s;
    -webkit-animation-name: bladeFade;
    animation-name: bladeFade;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.spinner .blade.d02 {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.spinner .blade.d02 div {
    -webkit-animation-delay: -0.1666666666666667s;
    animation-delay: -0.1666666666666667s;
}

.spinner .blade.d03 {
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.spinner .blade.d03 div {
    -webkit-animation-delay: -0.3333333333333333s;
    animation-delay: -0.3333333333333333s;
}


.spinner .blade.d04 {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.spinner .blade.d04 > div {
    -webkit-animation-delay: -0.5000000000000001s;
    animation-delay: -0.5000000000000001s;
}


.spinner .blade.d05 {
    -ms-transform: rotate(-120deg);
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
}
.spinner .blade.d05 > div {
    -webkit-animation-delay: -0.6666666666666669s;
    animation-delay: -0.6666666666666669s;
}


.spinner .blade.d06 {
    -ms-transform: rotate(-150deg);
    -webkit-transform: rotate(-150deg);
    transform: rotate(-150deg);
}
.spinner .blade.d06 > div {
    -webkit-animation-delay: -0.8333333333333336s;
    animation-delay: -0.8333333333333336s;
}


.spinner .blade.d07 {
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.spinner .blade.d07 > div {
    -webkit-animation-delay: -1.0000000000000002s;
    animation-delay: -1.0000000000000002s;
}


.spinner .blade.d08 {
    -ms-transform: rotate(-210deg);
    -webkit-transform: rotate(-210deg);
    transform: rotate(-210deg);
}
.spinner .blade.d08 > div {
    -webkit-animation-delay: -1.166666666666667s;
    animation-delay: -1.166666666666667s;
}


.spinner .blade.d09 {
    -ms-transform: rotate(-240deg);
    -webkit-transform: rotate(-240deg);
    transform: rotate(-240deg);
}
.spinner .blade.d09 > div {
    -webkit-animation-delay: -1.3333333333333337s;
    animation-delay: -1.3333333333333337s;
}


.spinner .blade.d10 {
    -ms-transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
}
.spinner .blade.d10 > div {
    -webkit-animation-delay: -1.5000000000000004s;
    animation-delay: -1.5000000000000004s;
}


.spinner .blade.d11 {
    -ms-transform: rotate(-300deg);
    -webkit-transform: rotate(-300deg);
    transform: rotate(-300deg);
}
.spinner .blade.d11 > div {
    -webkit-animation-delay: -1.6666666666666672s;
    animation-delay: -1.6666666666666672s;
}


.spinner .blade.d12 {
    -ms-transform: rotate(-330deg);
    -webkit-transform: rotate(-330deg);
    transform: rotate(-330deg);
}
.spinner .blade.d12 > div {
    -webkit-animation-delay: -1.833333333333334s;
    animation-delay: -1.833333333333334s;
}
